<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" >   Ayubowan!</p>
        <span
            class="txt-rotate" 
            typingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                { 
                    "language": "sn",
                    "phrases": [ "Meu nome é Guilherme.", "Seja bem-vindo(a) ao meu resumo online.", "Abaixo, você me conhecerá melhor... :)" ]
                },
                { 
                    "language": "en",
                    "phrases": [ "My name is Chathushka Rodrigo.", "Welcome to my Portfolio", "Down below, you will get to know me better... " ]
                }
            ]'></span>
    </div>
</div>