<div class="skills">
    
    <img loading="lazy" class="background" src="/assets/template/welcome/illustration-back.png" alt="Background circle"/>
    <img loading="lazy" class="skill-icon first" src="/assets/template/welcome/icons/unity.svg" alt="Docker"/>
    <img loading="lazy" class="skill-icon second" src="/assets/template/welcome/icons/react.svg" alt="CSS3"/>
    <img loading="lazy" class="skill-icon third" src="/assets/template/welcome/icons/git.svg" alt="Git"/>
    <img loading="lazy" class="skill-icon fourth" src="/assets/template/welcome/icons/github.svg" alt="HTML5"/>
    <img loading="lazy" class="skill-icon fifth" src="/assets/template/welcome/icons/android.svg" alt="SQL"/>
    <img loading="lazy" class="skill-icon sixth" src="/assets/template/welcome/icons/java.svg" alt="PHP"/>

    
</div>